@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize scrollbar for webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #aaa; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}

/* Customize scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #aaa; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}
